@font-face {
    font-family:Poppins;
    src: url(https://fonts.googleapis.com/css?family=Poppins);
}
:root{
    --bg-button: #f4f4f4d2;
    --border-button: solid 1px #888;
}
.button{
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    font-family: Poppins, sans-serif;
    font-size: 1.2em;
}
.button:active{
    background-color: #ccc;

}
.button.double{
    grid-column: span 2;
}

.button.triple{
    grid-column: span 3;
}

.button.operation{
    background-color: #403a57c9;
    color: #fff
}
.button.operation:active{
    background-color: #fa8231cc;
}